.navHolderX{
    background: ghostwhite;
    padding: 5px;
}
.navbar{
  /*  position: absolute;
    top:60px;
    z-index: 999;
    margin-top: -60px;*/
}
#featuredCarCarousel .carousel-caption
{
    color: #fff;
    float:left;
    background: rgba(0,0,0,0.4);
}

#logOutBtn{
    display: none;
}

.ribbon-premium {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.hd1{
    background-color:black;
    color:white;
    padding-left:120px;
    padding-top:10px;
    padding-bottom:10px;
    margin:0px;
}
.img1{
    width:100%;
    height:auto;
}
.hd2{
    padding-top:10px;
    margin:0px;
}
.label{
    text-align:center;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:30px;
    margin-bottom:50px;
    border-style:solid;
    border-width: 1px;
    border-color:gray;
}

.p1{
    color:white;
    font-size:45px;
    line-height: 35px;
}
.cpyr8Div{
    padding-top:20px;
    padding-bottom:10px;
    background-color:black;
}
.cpyP{
    text-align:center;
    color:white;
}
.caption{
    position: absolute;
    top:450px;
    width: 100%;
    z-index: 100;
    color: white;
    text-align: center;
    font-weight: bolder;
    background-color: black;
    opacity:.7;
    padding: 15px;
    text-align-all: justify;
}

.btn {
    border: none;
    color: white;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 0;
}

.advantageBox{
    background-color: #f4f4f4;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
    text-align-all: justify;
    padding: 30px;
}


.advantageBoxCenter{
    background-color: #e8e8e8;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
    text-align-all: justify;
    padding: 30px;
}
.underLine{
    border-style: solid;
    border-color: red;
    border-width: thin;
}
.weOffer{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/tbg1.jpeg');
    display: block;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 280px;
}

.offerBox{
    background-color: #f4f4f4;
    text-align-all: justify;
    padding: 50px;
    margin-left: 20px;
    width: 100%;
}
.offerBox:hover{
    background: #cd0000;
    color: white;
}

.navbarX a {
    color: blue;
    font-weight: bold;
    font-size: 18px;
    font-family: "Arial Black";
}
.detailsTab a:link {
    color: white;
}
.detailsTab a:hover{
    color: gainsboro;
}
.setMidHorizontal{
}